body {
    font-size: 10px;
    margin: 0px;
    background-color: #f9f8f3;
}

.background_img {
    background-color: #EEE9DA;
    background-image: url("pictures/books.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;

    z-index: -1;

    /* bluram imaginea de fundal */
    /*
    filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

.background_text {
    border: 3px solid #6096B4;
    width: 30%;
    height: 45%;
    z-index: 2; 
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%); /*vezi oleak ce face asta*/

    background-color: rgba(255, 255, 255, 0.8); /* Black w/opacity/see-through */
}

h1, h2 {
    text-align: center;
    position: relative;
    bottom: 15%;
}

h1 {
    font-size: 2.75rem;
    color: #6096B4;
}

h2 {
    font-size: 1.75rem;
    color: #93BFCF;
}

/*Navbar*/
nav {
	margin: 0;
    padding: 0;
	background-color: #6096B4;
	border: 0;
    height: 10%;
	letter-spacing: 0.1rem;
	opacity: 0.95;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    width: 100%;
    z-index: 10 !important;
}

.navbar-header {
    margin: 0;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    vertical-align: top;
    height: 100%;
    display: inline-block;
    color: #EEE9DA;
}

.navbar-right {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: stretch;
}

.navbar-right > ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-right > ul > li {
    margin: 0;
    padding: 0;
}

nav a {
    margin: 0;
    font-size: 1rem;
    vertical-align: middle;
    text-decoration: none;
    color: #EEE9DA;
}

nav ul {
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
}

nav > ul > li {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    margin: 0;
    position: relative;
    height: 100% !important;
    box-sizing: border-box;
}

nav li ul {
    display: none;
    box-sizing: border-box;
}

nav li {
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

nav li:hover {
    margin: 0;
    background-color: #6fa0bb;
    background-clip: padding-box; /*pentru ca background-color sa treaca si peste padding*/
}

nav li:hover a{
    color: #fff;
}

nav ul li:hover ul {
    list-style-type: '';
    display: block;
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    height: auto;
    width: 100%;
    top: 100%;
    right: 0%;
    background-clip: padding-box; /*pentru ca background-color sa treaca si peste padding*/
    background-color: #f9f8f3;
    text-align: center;
}

nav ul li:hover ul li {
    padding: 0.5rem;
    margin: 0rem;
}

nav ul li:hover ul li a{
    color: #6fa0bb;
}

nav ul li:hover ul li:hover {
    background-color: #9fc0d2;
}

nav ul li:hover ul li:hover a{
    color: #fff;
}

/*Container*/
.container {
	padding: 80px 120px;
  }

/*Buttons*/
.btn {
    border: 1px solid #93BFCF;
	padding: 0.75rem;
	background-color: #93BFCF;
	color: #fff;
	border-radius: 10px;
	transition: .2s;
}

.btn:hover, .btn:focus {
	padding: 0.75rem;
	border: 1px solid #93BFCF;
	background-color: #fff;
	color: #93BFCF;
    cursor: pointer;
}

.background_text button {
    position: absolute;
    top: 65%;
    left: 30%;
    height: 3rem;
    width: auto;
    font-size: 1.25rem;
}

/*Form*/
#myForm {
    padding: 0.5rem;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    height: auto;
    z-index: -1;

    background-color: #fdfcfb;
    color: #93BFCF; 

    border: 0.1rem solid #EEE9DA;
    border-radius: 10px;
    font-size: 1.25rem;
}

#myForm h2 {
    position: static;
}

#myForm form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        "_title_  _author_"
        "_content_ _content_"
        "_terms_ _stars_"
        "_submit_ .";
    
    justify-content: center;
    align-items: middle;
    gap: 7% 5%;
}

label[for = "terms"] {
    color: #BDCDD6;
}

input, textarea {
    margin: 0.3rem;
}

input[type = "text"], textarea {
    display: block;
    height: 60%;
    width: 80%;
}

input[type = "submit"] {
    margin-bottom: 1rem;
}

#title_ {
    grid-area: _title_;
}
#author_ {
    grid-area: _author_;
}
#content_ {
    grid-area: _content_;
}
#stars_ {
    grid-area: _stars_;
}
#terms_ {
    grid-area: _terms_;
}
#submit_ {
    grid-area: _submit_;
}


/*Books Page*/

#h2_books {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    letter-spacing: 0.1rem;
}

#books {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}

.book_sect {
    margin: 3rem 2rem;
}

.book_sect h3 {
    background-color: #93BFCF; 
    color: #fdfcfb;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    background-clip: border-box;
    border: 1px transparent #fff;
    border-radius: 10px;
}

.book_container {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

.book {
    height: 12rem;
    width: 10rem;
    margin: 0.5rem 1rem;
}

.book:hover {
    cursor: pointer;
}

.exit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;

    font-size: 1rem;
    height: 2rem;
    width: 2rem;
}

.popUp {
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 100;
    height: 50%;
    width: 50%;

    padding: 1rem;
    background-color: #D0DCE2;
    border: 0.01rem solid #BDCDD6;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: "cover titles button"
                         "cover stars . "
                         "cover reviews . " 
                         "cover reviews . " 
                         "details reviews . ";
    gap: 0.3rem 0.3rem;
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titles h3 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    color: #304b5a;
}

#titles h4 {
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
    margin-top: 0rem;
    padding-top: 0.5rem;
    align-self: flex-end;
    color: #1c2d36;
}

.rvw_content {
    background-color: #f9f8f3;
    border: 1px transparent #fff;
    border-radius: 20px;
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 0.7rem;
}

.rvw_content::first-line {
    color: #ccac00;
}

.reviews {
    padding: 0.3rem 1rem;
    max-height: 90%;
    overflow-y: auto;
    max-height: 100%;
    width: 90%;
    color: #304b5a;
}

.blue {
    color: #596e7a;
    font-size: 0.7rem;
}

.blue_only {
    color: #596e7a;
}

.stars {
    font-size: 1rem;
    color: #ccac00;
    margin-top: 0rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0rem;
}


/*Footer*/
footer {
	background-color: #6096B4;
	padding: 2rem;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 98%;
    margin: 0%;
  }

#ft_rev {
    top: 90%;
}

#ft_bk {
    top: 300%;
}